<mat-toolbar color="primary">
  <span>PagoDiario Challenge</span>
</mat-toolbar>

<div class="container">
  <button mat-raised-button color="primary" (click)="openDialog()">
    Agregar Usuario
  </button>
  <br /><br />

  <table class="mat-table" width="100%">
    <tr class="mat-header-row">
      <th class="mat-header-cell">RFC</th>
      <th class="mat-header-cell">Nombre</th>
      <th class="mat-header-cell">A. Paterno</th>
      <th class="mat-header-cell">A. Materno</th>
      <th class="mat-header-cell">F. de Nacimiento</th>
      <th class="mat-header-cell"></th>
    </tr>
    <tr class="mat-row" *ngFor="let user of users$ | async">
      <td class="mat-cell">
        <strong>{{ user.rfc }}</strong>
      </td>
      <td class="mat-cell">{{ user.name }}</td>
      <td class="mat-cell">{{ user.middleName }}</td>
      <td class="mat-cell">{{ user.lastName }}</td>
      <td class="mat-cell">{{ user.birthDate | date: 'dd/MM/yyyy' }}</td>
      <td class="mat-cell text-center">
        <button mat-raised-button color="warn" (click)="deleteUser(user._id)">
          Borrar
        </button>
      </td>
    </tr>
    <tr *ngIf="(users$ | async).length === 0">
      <td colspan="6" class="mat-cell text-center">No hay usuarios todavia.</td>
    </tr>
  </table>
</div>
